/dist*
/.ghc*
/cabal.project.local
/db/*
/api/media/gpg
/api/media/uploads
static/
/.stack-work
/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
dist-newstyle/
