.content pre {
  margin: 0;
  padding: 0;
}

#top-header {
  background-image: url("/static/imgs/banner_bg.jpg");
  background-position-x: center;
  background-position-y: 60%;
}

#top-header h1 {
  color: white;
  font-weight: bold;
}

#top-header h2 {
  color: #FFA500;
  font-weight: bold;
}

a {
  color: #1E90FF;
}

hr {
  background-color: #CCC;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: #9E358F;
  font-weight: normal;
}

code {
  color: #BA55D3;
}

.browse-content ul {
  margin: 0 0 40px 0;
  padding: 0;
  list-style-type: none;
}

.browse-content ul li {
  margin: 0 0 0 0;
  padding: 5px 0 5px 20px;
}

#browse-images h3 {
  color: #DB6123;
}

#browse-images .browse-content-item-even {
  background-color: #E97355;
}

#browse-images .browse-content-item-odd {
  background-color: #E9937C;
}

#browse-images ul li:hover {
  background-color: #D24520;
}

#browse-executables h3 {
  color: #DB2323;
}

#browse-executables .browse-content-item-even {
  background-color: #E6545E;
}

#browse-executables .browse-content-item-odd {
  background-color: #E67B82;
}

#browse-executables ul li:hover {
  background-color: #CD1F2C;
}

#browse-videos h3 {
  color: #B1186B;
}

#browse-videos .browse-content-item-even {
  background-color: #D24CA0;
}

#browse-videos .browse-content-item-odd {
  background-color: #D270AD;
}

#browse-videos ul li:hover {
  background-color: #A41970;
}

#browse-archives h3 {
  color: #80168F;
}

#browse-archives .browse-content-item-even {
  background-color: #9350C6;
}

#browse-archives .browse-content-item-odd {
  background-color: #A170C6;
}

#browse-archives ul li:hover {
  background-color: #5D1D8D;
}

#browse-audios h3 {
  color: #1D518F;
}

#browse-audios .browse-content-item-even {
  background-color: #4E85C3;
}

#browse-audios .browse-content-item-odd {
  background-color: #6DA1C3;
}

#browse-audios ul li:hover {
  background-color: #1B5C87;
}

#browse-texts h3 {
  color: #8CCB1B;
}

#browse-texts .browse-content-item-even {
  background-color: #AEE152;
}

#browse-texts .browse-content-item-odd {
  background-color: #BCE178;
}

#browse-texts ul li:hover {
  background-color: #88C31D;
}

#browse-papers h3 {
  color: #DBDB1D;
}

#browse-papers .browse-content-item-even {
  background-color: #DEE754;
}

#browse-papers .browse-content-item-odd {
  background-color: #E1E77B;
}

#browse-papers ul li:hover {
  background-color: #C5D01F;
}

#browse-unknown h3 {
  color: #AAAAAA;
}

#browse-unknown .browse-content-item-even {
  background-color: #DDDDDD;
}

#browse-unknown .browse-content-item-odd {
  background-color: #EEEEEE;
}

#browse-unknown ul li:hover {
  background-color: #888888;
}

.browse-content ul li a {
  color: #333333;
}

.browse-content ul li:hover {
  padding-left: 25px;
}

.browse-content ul li:hover a {
  color: #EEEEEE;
}

#home {
  text-align: justify;
}

.blog-content {
  text-align: justify;
}

.rss-feed {
  color: orange;
}

.browse-input {
  width: 20%;
  position: absolute;
  right: 50px;
}
