.tile-container {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}

.tile-component {
    background-color: red;
    border: 1px solid;
    border-color: blue;
}
