body {
  position: absolute;
  background-color: #131313;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 52px 0 0 0;
  color: #AAA;
  width: 100%;
  min-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size : 16px;
}

section {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding : 0;
  font-size : 28px;
}

h2 {
  margin: 0 0 18px 0;
  padding : 0;
  font-size : 24px;
}

h3 {
  margin: 0 0 18px 0;
  padding : 0;
  font-size : 20px;
}

h4 {
  margin: 0 0 18px 0;
  padding: 0;
  font-size: 16px;
}

a {
  margin : 0;
  padding : 0;
  color : #77A965;
  text-decoration : none;
}

a:hover {
  color : #A96577;
}

p {
  margin : 5px 0 20px 0;
  padding : 0;
  text-align : justify;
}

img {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

blockquote {
  margin: 0 auto 20px auto;
  padding: 5px 0 5px 0;
  border-left: 5px #702C48 solid;
  border-right: 5px #702C48 solid;
  max-width: 500px;
  background-color: #444;
  border-radius: 15px;
}

blockquote p {
  text-align: center;
}

menu {
  position : fixed;
  width : 100%;
  top: 0;
  height: 22px;
  left: 0;
  right: 0;
  background-color: #222;
  margin: 0;
  padding: 15px 0 15px 0;
  font-size: 18px;
  z-index: 10;
}

menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

menu ul li {
  display: inline;
  margin: 0 1pc 0 1pc;
  padding: 0 0 5px 0;
}

menu ul li:hover {
  border-bottom : 2px #77A965 solid;
}

#wrapper-content {
  position: static;
  margin : 0 auto 0 auto;
  padding : 20px;
  width: 1000px;
  top: 0;
  min-height: 100%;
  background-color: #333;
  border-left: 5px #2C4870 solid;
  box-sizing: border-box;
}

footer {
  position: static;
  width: 100%;
  margin: 0;
  padding: 1pc 0 1pc 0;
  text-align: center;
  background-color: #222;
}

#home-content-welcome {
  background-color : orange;
}

#upload-content-form {
  text-align: center;
  margin : 0;
  padding : 10pc 0 10pc 0;
}

#upload-content-viewer {
  text-align: center;
  margin : 0;
  padding : 10pc 0 10pc 0;
}

#browse-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#browse-content ul li {
  margin : 0 0 0 0;
  padding : 0.1pc 0 0.1pc 1pc;
}

#browse-content ul li a {
  color : #666666;
}

#browse-content ul li:hover {
  background-color: #77A965;
  padding-left: 0.5pc;
  font-size: 150%;
}

#browse-content ul li:hover a {
  color : white;
}

#browse-content .browse-content-item-even {
  background-color : #DDD;
}

#browse-content .browse-content-item-odd {
  background-color : #EEE;
}
